[Desktop Entry]
Name=Vellum
Comment=Fast, native EPUB reader for Linux
Exec=env WEBKIT_DISABLE_DMABUF_RENDERER=1 vellum %f
Icon=vellum
Type=Application
Categories=Office;Viewer;
MimeType=application/epub+zip;
StartupWMClass=vellum
Keywords=epub;ebook;reader;book;
