[Desktop Entry]
Name=Vivant
Comment=Fast, native EPUB reader for Linux
Exec=Vivant %f
Icon=vivant
Type=Application
Categories=Office;Viewer;
MimeType=application/epub+zip;
StartupWMClass=vivant
Keywords=epub;ebook;reader;book;
