[Desktop Entry]
Name=Vivant
GenericName=E-Book Reader
Comment=An open-source E-Book reader for Linux and Windows. Built with Tauri.
Exec=Vivant %f
Icon=Vivant
Type=Application
Categories=Office;Viewer;
MimeType=application/epub+zip;
StartupWMClass=Vivant
Keywords=epub;ebook;reader;book;
